/*.mainrow {
  display: flex;
}

.reactcolumn,
.vitecolumn {
  flex: 50%;
  width: 280px;
  height: 100px;
  border-style: solid;
  border-color: grey;
  border-width: 1.5px;
  border-radius: 20px;
  margin: 20px;
  box-shadow: rgba(76, 59, 204, 0.6) 0px 7px 29px 0px;
}

.reactcolumn img,
.vitecolumn img {
  height: 80px;
  float: left;
  margin-left: 20px;
  margin-top: -9px;
  filter: drop-shadow(0 0 0.75rem #4c3bcc);
}

/*.reactcolumn, .vitecolumn {
    display: flex;
}

.rest h2 {
  padding-right: 60px;
  margin-top: -10px;
}

.rest a {
  margin-left: 5px;
  margin-top: -10px;
}*/

.menucard {
  color: blue;
}
